@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: rgba(37, 99, 235, 0.18);
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
